<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="section-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let section of sections; let i = index">
            <ion-item
              routerDirection="root"
              [routerLink]="[section.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected">

              <ion-icon slot="start" [ios]="section.icon + '-outline'" [md]="section.icon"></ion-icon>
              <ion-label>{{ section.title }}</ion-label>

            </ion-item>
            <div class="separator" *ngIf="section.url.includes('home')"></div>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>

      <ion-footer>
        <ion-button fill="clear" color="danger" expand="full" (click)="clear()">
          Clear Store
          <ion-icon slot="end" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-footer>

    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
