<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <div class="section-title">
        <ion-icon name="git-pull-request"></ion-icon>
        <div>Git</div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <itw-questions *ngIf="!isLoading"
    [sections]="sections"
    [comments]="comments"
    [storeKey]="storeKey">
  </itw-questions>
</ion-content>
